.conditionGrid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.conditionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 8px;
  text-align: center;
}

.conditionIcon {
  color: #121212;
}

.conditionGrid::-webkit-scrollbar {
  height: 6px;
}

.conditionGrid::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 4px;
}

.conditionGrid::-webkit-scrollbar-thumb {
  background-color: #fdfcdc;
  border-radius: 4px;
}
